<% if @user %>
        <h1>New listing</h1>

<%= render 'form' %>

<%= link_to 'Back', listings_path %>
      <% else %>
        <a href="/auth/facebook">Login <img src="https://www.teenytinywebsites.com/s/facebook_f_icon_50.png" /></a>
      <% end %>


