<div id="login">
  <a class="button" id="facebook-login" href="/auth/facebook">Login with Facebook</a>
  <hr />
  <span>or - Login with email</span>
  <form>
    <input type="text" placeholder="Email" /><br />
    <input type="password" placeholder="Password" />
  </form>
  <p>Not a member? <a href="/signup">Sign up</a></p>
</div>