<h1>Go Teem</h1>

<p>
  <%= @oauth %>
</p>

<p>
  <%= @thing %>
</p>

<form>
  <input type='text' value='Text' />
  <input type='password' placeholder='Password' />

  <input type='checkbox' />
  <input type='radio' name='r1' checked />
  <input type='radio' name='r1' />

  <button>Button</button>
</form>
