<h1>Go Teem</h1>

<p>
  <%= @oauth %>
</p>

<p>
  <%= @thing %>
</p>

<form>
  <input type='text' value='Text' /><br />

  <input type='password' placeholder='Password' /><br />

  <input type='checkbox' />
  <input type='radio' name='r1' checked />
  <input type='radio' name='r1' />
  <br />

  <div class='dropdown'>
    <select>
      <option value='o1'>1</option>
      <option value='o2'>2</option>
      <option value='o3'>3</option>
      <option value='o4'>4</option>
    </select>
  </div><br />

  <div class='list'>
    <select multiple>
      <option value='o1'>1</option>
      <option value='o2'>2</option>
      <option value='o3'>3</option>
      <option value='o4'>4</option>
    </select>
  </div><br />

  <input type='button' value='Button' />
</form>
