<img id='doge' data-src='doge.jpg' />

<div id='things'>
  <a class='button' title='such search' href='/listings'>Search</a><br />
  <a class='button' title='much host' href='/listings/new'>Host</a><br />
</div>
