<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.name %>!</h1>
    <p>
      You have received a new message, from <%= @sender.email %>.<br>
    </p>
    <p> <%= @message.body%> </p>
  </body>
</html>
