// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login {
  height: 300px;
  width: 300px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  margin: auto;

  #facebook-login {
    padding-top: 10px;
    color: white;
    background-color: #3B5998;
  }

  hr {
    margin-top: 30px;
    width: 100%;
    max-width: 300px;
  }

  span {
    display: block;
    margin-top: 20px;
  }
}