// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#things {
  position: relative;
}

#doge {
  margin-top: 10px;
  max-width: 300px;
  width: 100%;
}
