// Place all the styles related to the Widgets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  position: relative;
  height: 100%;
}

body {
  height: 100%;
  background: #f1f1f1;
  font-family: 'Helvetica Neue';
  text-align: center;
  margin: 0;
  box-sizing: border-box;
  padding: 5px;
}

h1 {
  position: relative;
  display: inline-block;
  font-weight: 100;
  width: 100%;
  height: 40px;
  margin: 20px 0 0 0;
  max-width: 300px;
  text-align: left;
  font-size: 2.5rem;
  border-bottom: 2px solid black;

  em {
    color: rgba(black, 0.1);
  }
}

h2 {
  position: relative;
  display: inline-block;
  font-weight: 100;
  width: 100%;
  margin: 20px 0 0 0;
  max-width: 300px;
  text-align: left;
  font-size: 1.5rem;
}

@mixin text {
  font-size: 1.2rem;
  font-weight: 200;
  font-family: 'Helvetica Neue';
}

@mixin out {
  position: relative;
  top: -1px;
  box-shadow:
    inset 0 1px 0 rgba(white, 0.75),
    0 1px 2px rgba(black, 0.4),
    inset 0 -1px 32px rgba(black, 0.1);
}

@mixin in {
  top: 0px;
  box-shadow:
    inset 0 1px 5px rgba(black, 0.2),
    inset 0 0 32px rgba(black, 0.2),
    0 1px 0 rgba(white, 0.75);
}

form {
  text-align: center;
}

a.button, button, input[type='button'], input[type='submit'] {
  @include out;
  @include text;
  color: black;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  width: 100%;
  max-width: 300px;
  padding: 10px 0;
  border: none;
  border-radius: 6px;
  background: none;
  margin: 5px 0;
  outline: none;
  cursor: pointer;

  &:active {
    @include in;
  }
}

input[type='text'], input[type='password'] {
  @include in;
  @include text;
  vertical-align: middle;
  width: 100%;
  max-width: 300px;
  padding: 10px 0;
  border: 0;
  text-align: center;
  margin: 5px 0;
  outline: none;
}

input[type='checkbox'] {
  @include out;
  vertical-align: middle;
  -webkit-appearance: none;
  width: 44px;
  height: 44px;
  border: 0;
  border-radius: 6px;
  margin: 5px 0;
  outline: none;
  cursor: pointer;

  &:checked {
    @include in;
  }
}

input[type='radio'] {
  @include out;
  vertical-align: middle;
  -webkit-appearance: none;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  margin: 13px 8px;
  outline: none;
  cursor: pointer;

  &:checked {
    @include in;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  line-height: 1rem;
  width: 100%;
  max-width: 300px;
  margin: 5px 0;

  select {
    @include out;
    @include text;
    vertical-align: middle;
    -webkit-appearance: none;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    margin: 0;
    outline: none;
    cursor: pointer;

    &:active {
      @include in;
    }
  }

  &:after {
    content: '\25bc';
    position: absolute;
    color: rgba(black, 0.2);
    text-shadow:
      0 1px 0px rgba(white, 1),
      0 0 0 rgba(black, 0.3);
    right: 15px;
    top: 50%;
    margin-top: -7px;
    width: 14px;
    height: 14px;
  }
}

.list {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 1rem;
  width: 100%;
  max-width: 300px;
  margin: 5px 0;

  select {
    @include in;
    @include text;
    width: 100%;
    border: none;
    margin: 0;
    padding: 5px;
    outline: none;

    option {
      cursor: pointer;
    }
  }
}

#nav-toggle {
  position: absolute;
  top: -20px;
  right: 0;
  font-size: 2rem;
  width: 40px;
  max-width: none;
  padding: 0;

  &.pushed {
    @include in;
    position: absolute;
    top: -20px;
  }
}

nav {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  background: white;
  box-shadow:
    0 0 5px rgba(black, 0.5),
    inset 0 0 150px rgba(black, 0.15);
  width: 50%;
  height: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  transform: translateX(-100%);
  transition: 0.3s transform;
  text-align: center;

  &.open {
    transform: translateX(0);
  }

  a {
    @include text;
    color: black;
    text-transform: capitalize;
    display: block;
    padding: 10px 0;
    text-decoration: none;

    &.selected {
      color: white;
      background: black;
      font-weight: bold;
    }
  }
}

