<!DOCTYPE html>

<html>
  <head>
    <title>Up Dog</title>
    <link rel="stylesheet" href="/assets/application.css" />
  </head>
  <body>
    <nav>
      <%
        {
          'home' => nil,
          'search' => 'listings',
          'host' => 'listings/new',
          'profile' => 'profile',
          'friends' => 'friends',
          'settings' => 'settings',
          'logout' => 'logout'
        }.each do |name, link|
      %>
        <a
          href="<%= "/#{link}" %>"
          class="<%= 'selected' if request.path == "/#{link}" %>">
          <%= "#{name}" %>
        </a>
      <% end %>
    </nav>

    <header>
      <h1>
        Up Dog<em>e</em>
        <button id='nav-toggle' title='wow'>&equiv;</button>
      </h1>
    </header>

    <%= yield %>
  </body>
</html>

<script src="/assets/application.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
