<!DOCTYPE html>

<html>
  <head>
    <title>Teeeem</title>
    <link rel="stylesheet" href="/assets/application.css" />
  </head>
  <body>
    <nav>
      <%
        [
          nil, 'profile', 'settings', 'places',
          'appointments', 'friends', 'logout'
        ].each do |link|
      %>
        <a
          href="<%= "/#{link}" %>"
          class="<%= 'selected' if request.path == "/#{link}" %>">
          <%= "#{link || 'home'}" %>
        </a>
      <% end %>
    </nav>

    <header>
      <h1>
        Up Dog<em>e</em>
        <button id='nav-toggle'>&equiv;</button>
      </h1>
    </header>

    <%= yield %>
  </body>
</html>

<script src="/assets/application.js"></script>
